[Unit]
Description=Docker Shutdown Service

[Service]
ExecStart=/home/robotoai/.startup/shutdown/startup.bash
Type=oneshot

[Install]
WantedBy=multi-user.target